       body {
            font-family: 'Times New Roman', Times, serif;
            background-color: ##6cf22b;
            display: flex;
            justify-content: center;
            align-items:center;
            height: 100vh;
            margin: 0;

        }

        .login-container {
            background-color: #68ddbd ;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(54, 241, 151, 0.2);
            padding: 20px;
            width: 300px;
        }

        .login-container h1 {
            font-size: 24px;
        }

        .input-group {
            margin: 20px 0;
            align-items: center;
        }

        .input-group label {
            display: block;
          font-weight: bold;


        }

        .input-group input {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #4aec86;
            border-radius: 3px;
        }

        .login-button {
            background-color: #4aec86;
            color: #0000;
            border: none;
            border-radius: 3px;
            padding: 10px 20px;
            cursor: pointer;
            right: 0;
            width: 300px;

        }

        .lo {
        text-align: center;
        }

