/* Código na ordem em que deve apresentar no site */
/*Style tips*/

body {
  font-family: "Times New Roman", Times, serif;
  background-color: #f4f4f4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.health-tip {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 20px;
  width: 300px;
}

.health-tip h2 {
  font-size: 20px;
  margin-top: 0;
}

.health-tip p {
  font-size: 14px;
}

/*-----------------------------------------------//--------------------------------------------*/
/*Style login*/

body {
  font-family: "Times New Roman", Times, serif;
  background-color: #3bbca1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #00bf63;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(54, 241, 151, 0.2);
  text-align: center;
  padding: 20px;
  width: 300px;
}

.login-container h1 {
  font-size: 24px;
}

.input-group {
  margin: 20px 0;
}

.input-group label {
  display: block;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ed2024;
  border-radius: 3px;
}

.login-button {
  background-color: #000000;
  color: #f4f4f4;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

.error-message {
  color: #ed2024;
  margin-top: 10px;
}

/*-------------------------------------------------//-------------------------------------------*/
/*Style calculadora IMC*/

body {
  font-family: "Times New Roman", Times, serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
  width: 300px;
}

.calculator h1 {
  font-size: 24px;
}

.input-group {
  margin: 20px 0;
}

.input-group label {
  display: block;
  font-weight: bold;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #000000;
  border-radius: 3px;
}

.calculate-button {
  background-color: #4ef367;
  color: #eb7b7b;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  font-weight: bold;
}

/*---------------------------------------------------//-------------------------------------------*/
/*Style marmitas*/

body {
  font-family: "Times New Roman", Times, serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4aec69;
  color: #000000;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.meal {
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}

.meal h2 {
  font-size: 20px;
}

.calories {
  font-weight: bold;
}

.description {
  margin-top: 10px;
}

/*-------------------------------------------------//----------------------------------------------*/
/* Style feedback */

body {
  background-color: #f4f4f4;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4aec86;
  color: #000;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feedback {
  background-color: #de6969;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.feedback p {
  margin: 0;
}

footer {
  background-color: #4aec86;
  color: #000;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*-----------------------------------------//------------------------------------------------*/
/* Style histórico */

body {
  font-family: "Times New Roman", Times, serif;
  margin: 20px;
}

#search-box {
  width: 300px;
  padding: 8px;
  font-size: 16px;
}

#search-history {
  margin-top: 20px;
}

#clear-history {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

/*---------------------------------------------//--------------------------------------------------*/
/* style.css água */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
}

.calculator {
  background-color: #ffffff;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label, input, button {
  display: block;
  margin: 10px 0;
}

button {
  background-color: #00ffdd;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
}

/* --------------------------------------------//---------------------------------------------- */
/* style.css caloria */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
}

.calculator {
  background-color: #fff;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label, select, input, button {
  display: block;
  margin: 10px 0;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
}